*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden; }

body {
  font-family: "Lato",sans-serif;
  font-family: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 3rem;
  padding-left: 3rem;
  overflow-x: hidden;
  background-image: url(../../images/back.png);
  background-size: cover;
  background-repeat: none;
  max-width: 100%;
  color: white; }

.header {
  max-width: 100%;
  display: flex;
  justify-content: space-between; }
  .header__img img {
    width: 100px; }
  .header__links a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding-left: 5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.5rem; }

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 5rem; }

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 1rem;
  margin-bottom: 6rem; }

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  margin-bottom: 3rem; }

h3 {
  font-size: 4.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

h4 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 2rem; }

span {
  color: #a833d1;
  font-size: 5.5rem; }

.disc {
  text-align: center; }

h6 {
  font-size: 2.5rem; }

h5 {
  font-size: 2.5rem; }

.flex {
  padding-top: 3rem; }
  .flex .forward__img img {
    width: 50rem; }
  .flex .forward__text {
    width: 100%; }
    .flex .forward__text a {
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 2rem;
      color: white;
      background-color: #4646c5;
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 5rem;
      padding-right: 5rem;
      text-align: center;
      border-radius: 10px; }
  .flex .backward {
    padding-top: 3rem;
    padding-left: 3rem; }
    .flex .backward__img img {
      width: 50rem; }
    .flex .backward__img2 img {
      width: 50rem; }
    .flex .backward__text {
      max-width: 100%; }
  .flex .half__text {
    padding: 10rem;
    text-align: center; }
  .flex .half form {
    background-color: #202027;
    width: fit-content;
    padding: 4rem;
    margin-top: -1.5rem; }
    .flex .half form input, .flex .half form textarea, .flex .half form button {
      width: 43rem;
      height: 3rem;
      background-color: #252532;
      border: 1.5px solid #5065b2;
      border-radius: 2px;
      margin-top: 2rem;
      color: white; }
    .flex .half form button {
      background-color: #a833d1;
      font-size: 2.5rem;
      font-style: "Poppins", sans-serif; }
    .flex .half form .send input {
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 2rem;
      color: white;
      background-color: #4646c5;
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 5rem;
      padding-right: 5rem;
      text-align: center;
      border-radius: 10px;
      border-radius: 2px;
      padding-top: 1rem;
      padding-bottom: 3rem;
      letter-spacing: 3px;
      margin-top: 2.5rem; }

.display {
  justify-content: space-around;
  padding: 5rem; }
  .display h5 {
    text-align: center;
    padding-bottom: 2rem; }
  .display h6 {
    padding-bottom: 2rem; }

.flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 100vh; }
  .flex .forward {
    max-width: 35%; }
    .flex .forward:last-child {
      max-width: 55%; }
    .flex .forward:not(:last-child) {
      margin-right: 10%; }
  .flex .backward {
    max-width: 55%; }
    .flex .backward:last-child {
      max-width: 40%; }
    .flex .backward:not(:last-child) {
      margin-right: 5%; }
  .flex .half {
    max-width: 40%; }
    .flex .half:last-child {
      max-width: 50%; }
    .flex .half:not(:last-child) {
      margin-right: 10%; }

@media (min-width: 200px) and (max-width: 395px) {
  html {
    font-size: 40%; }
  .flex .forward {
    max-width: 100%; }
    .flex .forward:last-child {
      max-width: 100%; }
    .flex .forward:not(:last-child) {
      margin-right: 10%; }
  .flex .backward {
    max-width: 100%; }
    .flex .backward:last-child {
      max-width: 100%; }
    .flex .backward:not(:last-child) {
      margin-right: 7%; }
  .flex .half {
    max-width: 100%; }
    .flex .half:last-child {
      max-width: 100%; }
    .flex .half:not(:last-child) {
      margin-right: 10%; } }

@media (min-width: 400px) and (max-width: 679px) {
  html {
    font-size: 44.5%; }
  .flex .forward {
    max-width: 100%; }
    .flex .forward:last-child {
      max-width: 100%; }
    .flex .forward:not(:last-child) {
      margin-right: 10%; }
  .flex .backward {
    max-width: 100%; }
    .flex .backward:last-child {
      max-width: 100%; }
    .flex .backward:not(:last-child) {
      margin-right: 7%; }
  .flex .half {
    max-width: 100%; }
    .flex .half:last-child {
      max-width: 100%; }
    .flex .half:not(:last-child) {
      margin-right: 10%; } }

@media (min-width: 680px) and (max-width: 849px) {
  html {
    font-size: 44.5%; } }

@media (min-width: 850px) and (max-width: 950px) {
  html {
    font-size: 48%; } }

@media (min-width: 960px) and (max-width: 1200px) {
  html {
    font-size: 55%; } }
