//colors
$white:white;
$purple:rgba(70, 70, 197, 1);
$light-purple:rgba(168, 51, 209, 1);

//fonts
$base: "Poppins", sans-serif;
//grid
$grid-width:114rem;
$gutter-vertical:10rem;
$gutter-horizontal:8rem;
