.header{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    &__img img{
        width: 100px;
    }
    &__links{

        a{
            text-decoration: none;
            color: $white;
            display: inline-block;
            padding-left: 5rem;
            font-family: $base;
            font-weight: 400;
            font-size: 1.5rem;
        }
    }
}